@import url("global.css");

.bullport_hash_input_table {
    border:1px solid #000000;
    padding: 10px;
    margin: 10px;
}

.bullport_hash_result_table {
    border:1px solid #000000;
    padding: 10px;
    margin: 10px;
}

.bullport_hash_result_table th {
    background-color: #868686;
    color: #ffffff;
    padding: 8px;
}

.bullport_hash_result_table td {
    padding: 5px;
}

.bullport_hash_result_name {
    font-weight: bold;
}

.bullport_hash_result_activeRow {
    background-color: #ffffaa;
}

