{% extends "::base.html.twig" %}

{% block title %}Bullport Code Samples{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/bullport/css/global.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h2>Welcome</h2>
    <p class="bullport_index_description">
        Click on one of the following links:
    </p>
    <ul class="bullport_index_list">
        <li><a href="/bullport/hash" target="_self">Hash calculator</a> (Strategy design pattern)</li>
        <li><a href="/bullport/pizza" target="_self">Pizza ordering</a> (Decorator and Observer design patterns)</li>
        <li><a href="/bullport/animal" target="_self">Animal Hotel</a> (Abstract Factory design pattern)</li>
    </ul>
{% endblock %}